body { 
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
}



.pic {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: middle;
    position: relative;    
}

#thumbnails {
    height: 25rem;
    overflow: auto;
}

.thumbPic {
    height: 20%;
    object-fit: cover;
    filter: brightness(60%);
}

.thumbActive {
    border: 1px solid lime;
    filter: brightness(100%);
}
